.landingDescription{
    margin-top: 15vw;
    margin-left: 45vw;
}

.textWidth{
    width: 700px;
}

.connexionText{
    color:black;
    transition:.1s;
}

.connexionText:hover{
    color:rgb(157, 99, 40);
}

.media{
    position: fixed;
    display: flex;
    margin-top: 15vw;
    margin-left: 3.4vw;
    flex-direction: column;
    gap:1.5vw;
    font-size: 23px;
}

.mediaFb{
    transition: .2s;
}

.mediaInsta{
    transition: .2s;
}

.mediaPint{
    transition: .2s;
}

.mediaFb:hover{
    color: rgb(222, 183, 145);
    transform: scale(1);
}

.mediaInsta:hover{
    color: rgb(222, 183, 145);
    transform: scale(1);
}

.mediaPint:hover{
    color: rgb(222, 183, 145);
    transform: scale(1);
}

.button{
    transition:.3s;
    border:1px transparent solid; 
}

.button:hover{
    background-color: rgb(222, 183, 145) ;
    color:black;
    border: .5px solid black;
}

.firstSection{
    padding-top:52vw;
}

.gifUnderTitle{
    text-align: center;
}

.gifDescription{
    width:350px;
    text-align: start;
}

.shopButton{
    border: 1px solid black;
    width: 150px;
    transition:.3s;
} 

.shopButton:hover{
    background-color: rgb(113,63,18);
    color: white;
}
