.landingDescription{
    margin-top: 15vw;
    margin-left: 45vw;
}

.textWidth{
    width: 700px;
}

.media{
    position: fixed;
    display: flex;
    margin-top: 15vw;
    margin-left: 3.2vw;
    flex-direction: column;
    gap:1vw;
    font-size: 25px;
}